{% extends "shelterhome/head_foot/head_foot.html" %}

{% block body %}




                <div class="page-content">
                    <div class="page-info container">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                            </ol>
                        </nav>
                        <div class="page-options">
                            <!-- <a href="#" class="btn btn-primary">Add Event</a> -->
                        </div>
                    </div>
                    <div class="main-wrapper container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <div id='calendar'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




{% endblock %}